version: '3'
services:
  strapi:
    environment: #environment variables
      # container port that strapi is exposed
      PORT: 1337
      # JWT secure token for Strapi auth, check how to generate this from README.md
      ADMIN_JWT_SECRET: to-be-filled
      # Email setup
      SMTP_USERNAME: huldhub@outlook.com
      SMTP_PASSWORD: OutlookHubHuld
      SMTP_HOST: smtp.office365.com
      SMTP_PORT: 587
      EMAIL_FROM: huldhub@outlook.com
      EMAIL_REPLY_TO: huldhub@outlook.com

    ports:
      # local port gets exposed to the container port 
      - '1337:1337'
    volumes:
      - ./app:/srv/app
      - modules:/srv/app/node_modules
      - cache:/srv/app/.cache

  mysql:
    volumes:
      - ./data:/var/lib/mysql
      - ./mysql-dump:/docker-entrypoint-initdb.d


volumes:
  modules:
  cache: