name: End-to-end CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Start backend
      run: |
        cd backend
        docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d

    - name: Start frontend
      run: |
        cd web
        docker-compose -f docker-compose.yml -f docker-compose.prod.yml up -d

    - name: Wait that containers have started
      run: |
        sleep 60
        docker run --network container:huldhub_backend appropriate/curl -s --retry 10 --retry-connrefused http://localhost:1337/ping
        docker run --network container:huldhub_frontend appropriate/curl -s --retry 10 --retry-connrefused http://localhost:80/ping