name: End-to-end CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Start backend
      run: |
        cd backend
        docker-compose -f docker-compose.yml -f docker-compose.dev.yml up -d

    - name: Start frontend
      run: |
        cd web
        npm i --silent
        docker-compose -f docker-compose.yml -f docker-compose.dev.yml up -d

    - name: Wait that containers have started
      run: |
        sleep 60
        docker ps -a
        docker logs huldhub_backend
        docker logs huldhub_frontend