version: '3'
services:
  react-app:
    build:
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"   
    volumes:
      - ./:/usr/src/app
      - modules:/usr/src/app/node_modules

volumes:
  modules: